@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --blue: #2c52ed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

::selection{
    color: #fff;
    background: var(--blue);
}

.wrapper{
    width: 400px;
    padding: 50px 40px;
    border-radius: 5px;

    background: rgba(0, 0, 0, 0.592);
    backdrop-filter: blur(3px);
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.193);
    color: white;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600;
}

.wrapper form{
    margin: 40px 0;
}

form .field{
    width: 100%;
    margin-bottom: 20px;
}

form .field .input-area{
    height: 50px;
    width: 100%;
    position: relative;
}

form input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: transparent;
    caret-color: #53a1f0;
    color: white;

    border-radius: 5px;
    border: 1px solid #fff;

}

form .field input:focus{
    border-color: var(--blue);
}

.field .input-area i{
    position: absolute;
    top: 50%;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon{
    left: 15px;
    color: #bfbfbf;
    transition: color .2s ease;
}

form input:focus ~ .icon{
    color: var(--blue);
}

form input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
}

form .text{
    text-align: left;
    margin-top: -10px;
}

.wrapper a{
    color: var(--blue);
    text-decoration: none;
}

.wrapper a:hover{
    text-decoration: underline;
}

form input[type="submit"]{
    height: 50px;
    margin-top: 30px;
    color: white;

    padding: 0;
    border: none;
    background: var(--blue);

    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.112);
    transition: all .3s ease;
}

form input[type="submit"]:hover{
    transform: scaleX(1.05);
}